.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.form {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: #304ffe25 0px 7px 29px 0px;
}

.form input {
  width: 45%;
  /* max-width: 200px; */
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  color: #304ffe;
  font-size: 1rem;
}

.form button {
  width: calc(90% + 20px);
  background-color: #304ffe;
  border-radius: 10px;
  height: 40px;
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: #fff;
  transition: 0.2s all ease-in-out;
}

.editBTN {
  background-color: #07d553 !important;
}

.form button:hover {
  box-shadow: #0c2ad487 0px 7px 29px 0px;
}

.alert {
  width: 100%;
  height: 40px;
  margin: 5px 0 25px;
}

.alert p {
  background-color: #ffebee;
  color: #f44336;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.success {
  width: 100%;
  height: 40px;
  margin: 5px 0 25px;
}

.success p {
  background-color: #07e455;
  color: #000;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.userOptions {
  display: flex;
  margin-right: 40px;
  height: 30px;
}
.sortOption {
  display: flex;
  padding: 2px;
  padding-right: 20px;
  margin-bottom: 10px;
  text-align: left;
  align-items: start;
  width: 200px;
  height: 30px;
}

.searchBox {
  align-items: center;
  margin-left: 40px;
  width: 800px;
}
@media (max-width: 500px) {
  .form input {
    width: 90%;
  }
  .form button {
    width: 90%;
  }

  .searchBox {
    align-items: center;
    margin-left: 40px;
    width: 200px;
  }
}
